@font-face {
    font-family: "HYShangWeiShouShuW";
    src: url("HYShangWeiShouShuW.eot"); /* IE9 */
    src: url("HYShangWeiShouShuW.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("HYShangWeiShouShuW.woff") format("woff"), /* chrome, firefox */
    url("HYShangWeiShouShuW.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("HYShangWeiShouShuW.svg#HYShangWeiShouShuW") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


