@font-face {
    font-family: "HYZhuZiSuDaHeiW";
    src: url("HYZhuZiSuDaHeiW.eot"); /* IE9 */
    src: url("HYZhuZiSuDaHeiW.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("HYZhuZiSuDaHeiW.woff") format("woff"), /* chrome, firefox */
    url("HYZhuZiSuDaHeiW.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("HYZhuZiSuDaHeiW.svg#HYZhuZiSuDaHeiW") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


