@font-face {
    font-family: 'OPPOSans-Medium';
    src: url('OPPOSans-Medium.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
    /* 模板三 */
}
@font-face {
    font-family: 'HYDiShengYingXiongTiW';
    src: url('newfont/HYDiShengYingXiongTiW.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
    /* 模板一 */
}
@font-face {
    font-family: "HYShangWeiShouShuW";
    src: url("newfont/HYShangWeiShouShuW.eot"); /* IE9 */
    src: url("newfont/HYShangWeiShouShuW.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("newfont/HYShangWeiShouShuW.woff") format("woff"), /* chrome, firefox */
    url("newfont/HYShangWeiShouShuW.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("newfont/HYShangWeiShouShuW.svg#HYShangWeiShouShuW") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
    /* 模板三 */
}
@font-face {
    font-family: "HYZhuZiSuDaHeiW";
    src: url("newfont/HYZhuZiSuDaHeiW.eot"); /* IE9 */
    src: url("newfont/HYZhuZiSuDaHeiW.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("newfont/HYZhuZiSuDaHeiW.woff") format("woff"), /* chrome, firefox */
    url("newfont/HYZhuZiSuDaHeiW.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("newfont/HYZhuZiSuDaHeiW.svg#HYZhuZiSuDaHeiW") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
    /* 模板四 */
}
@font-face {
    font-family: "FZZhengHeiS";
    src: url("newfont/FZZCHJW.eot"); /* IE9 */
    src: url("newfont/FZZCHJW.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("newfont/FZZCHJW.woff") format("woff"), /* chrome, firefox */
    url("newfont/FZZCHJW.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("newfont/FZZCHJW.svg#FZZhengHeiS-B-GB") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
    /* 模板八 */
}
@font-face {
    font-family: "REEJI-CHAO-KunPengGB";
    src: url("newfont/DMFT1542118809471.eot"); /* IE9 */
    src: url("newfont/DMFT1542118809471.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("newfont/DMFT1542118809471.woff") format("woff"), /* chrome, firefox */
    url("newfont/DMFT1542118809471.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("newfont/DMFT1542118809471.svg#REEJI-CHAO-KunPengGB") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
    /* 模板十 */
}